.cards {
  display: grid;
  gap: 3rem;
  padding: $padding-default;
  list-style: none;

  &--grid {
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: $breakpoint-md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--alternating {
    grid-template-columns: 1fr;

    // flip image to right on even numbered cards
    > .card--horizontal:nth-child(even) {
      // grid-template-columns: 25% 75%;

      @media (min-width: $breakpoint-md) {
        grid-template-columns: 25% 75%;
      }
      
      > .card__media {
        grid-column: 1 / -1;

        @media (min-width: $breakpoint-md) {
          grid-column: 2 / -1;
        }
      }
    }
  }
}