// colors
$winter--black: black;
$winter--white: white;
$winter--green: teal;
$winter--pink: rgb(255, 127, 127);

// typography
$winter--font-primary:  "profile-pro", sans-serif;
$winter--font-heading: "great-vibes";
$winter--font-size-copy: 1.6rem;
$winter--font-size-lg: 5rem;
$winter--font-size-md: 4rem;
$winter--font-size-sm: 3rem;

// details
$winter--box-shadow:  -.5rem .5rem 20px rgba(0, 0, 0, .5);
$winter--border-radius: 1rem;

.winter-theme {
  font-family: $winter--font-primary;
  font-weight: 500;

  .hero__text {
    color: $winter--green;
    transform: translate(-50%, -40%)
  }

  .link--nav::after {
    background-color: $winter--pink;
  }

  .list-item {
    &--grid {
      background-color: white;
      box-shadow: $winter--box-shadow;
      border-radius: $winter--border-radius;
    }
  }

  .card--vertical {
    background-color: $winter--black;
    color: $winter--white;
    border-radius: $winter--border-radius;
    box-shadow: $winter--box-shadow;
    min-height: $height-card;
  }

  .card--vertical .inverted {
    filter: invert(1);
  }

  section.intersected {
    background-color: $winter--green;
    color: $winter--white;

    .underline__side,
    .underline__vertical {
      background-color: $winter--white;
    }
  }

  .link--cta {
    border-radius: $winter--border-radius;

    @media (min-width: $breakpoint-md) {
      &:hover {
        background-color: $winter--pink;
      }
    }
  }

  .button {
    border-radius: $winter--border-radius;

    @media (min-width: $breakpoint-md) {
      &:hover {
        background-color: $winter--pink;
      }
    }
  }

  h1 {
    font-size: $winter--font-size-md;

    @media (min-width: $breakpoint-md) {
      font-size: $winter--font-size-lg;
    }
  }

  h2 {
    font-size: $winter--font-size-md;
  }

  h4 {
    font-style: italic;
  }

  h1, h2 {
    font-family: $winter--font-heading;
    text-transform: capitalize;
  }

  #contact {
    aspect-ratio: 9 / 16;

    .heading,
    label,
    p {
      @media (min-width: $breakpoint-md) {
        mix-blend-mode: difference;
        color: white;
      }
    }

    input, 
    textarea {
      border-radius: $winter--border-radius;
      border: none;
      outline: 1px solid black;

      &:focus {
        outline: 2px solid $winter--pink;
      }

      @media (min-width: $breakpoint-md) {
        border-radius: $winter--border-radius;
        border: none;
      }
    }

    video {
      box-shadow: $winter--box-shadow;
    }

    @media (min-width: $breakpoint-md) {
      aspect-ratio: 16 / 9;
    }
  }
}

#selected-works {
  margin-top: 2rem;
}