.list-item {
  &--grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
    gap: 1rem 3rem;
    padding: $padding-default;
  }

  &--nav-link {

  }

  &--horizontal {
    position: relative;
    width: 100%;
  }

  &__image-container {
    position: relative;
    grid-row: 1 / -1;
  }
}