.nav-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;

  &__nav-links {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: white;
    border: 1px solid red;

    &--open {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      color: black;
      text-align: center;
      font-size: 5rem;

      @media (min-width: $breakpoint-md) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: $padding-default;
        position: relative;
        background-color: transparent;
        width: 100%;
        height: 100%;
        font-size: $font-size-default;
        color: white;
      }
    }
    
    &--closed {
      display: none;
    }

    @media (min-width: $breakpoint-md) {
      display: flex;
      position: relative;
      background-color: transparent;
      width: 100%;
      height: 100%;
    }
  }

  @media (min-width: $breakpoint-md) {
    position: relative;
  }
}