.nav-menu {
  z-index: 1000;
  position: relative;
  color: white;

  &__nav-links {
    &--open {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: white;
      color: black;
      text-align: center;
      font-size: 5rem;

      @media (min-width: $breakpoint-md) {
        position: relative;
        flex-direction: row;
        gap: $padding-default;
        background-color: transparent;
        font-size: $font-size-default;
        color: white;
      }
    }
    
    &--closed {
      display: none;

      @media (min-width: $breakpoint-md) {
        display: flex;
        position: relative;
        flex-direction: row;
        gap: $padding-default;
        background-color: transparent;
        font-size: $font-size-default;
        color: white;
      }
    }
  }

  @media (min-width: $breakpoint-md) {
    position: relative;
  }
}