.tabs {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: $padding-default;

  &__tab {
    padding: 1.5rem $padding-default;
    scale: 1;
    transition: all 0.5s ease-in-out;

    &:hover {
      cursor: pointer;
      scale: 1.1;
      z-index: 50;
    }

    &--selected {
      background-color: black;
      color: white;

      &:nth-child(2) {
        background-color: black;
      }
  
      &:nth-child(3) {
        background-color: black;
      }
    }
  }
}

