$grid-max-columns: 3;

.animated-carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__text-container {
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    transition: all 1s ease-in-out;
    color: transparent;

    &:hover {
      background-color: rgba(0, 0, 0, .75);
      color: white;
    }
  }

  &__content {
    position: absolute;
    display: grid;
    grid-template-rows: max-content 1fr;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 1000px;
  }

  &__heading-container,
  &__images-container {
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
  }

  &__heading {
    color: white;
    text-align: center;
    grid-area: 1 / 1 / 2 / 2;

    &--enter {
      animation: whizInRight 1s ease-in-out;
      transform: translateX(0%);
    }

    &--exit {
      animation: whizOutRight 1s ease-in-out;
      transform: translateX(-100%);
      order: 0;
    }

    &--show {
      display: block;
    }

    &--hide {
      display: none;
    }
  }

  &__images {
    grid-area: 1 / 1 / 2 / 2;
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    gap: $padding-default;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 500px;
    perspective-origin: 50% -25%;
    transition: opacity 1s ease-in-out;

    // no slide change animation
    &--show {
      display: grid;
      transform: translateX(0%);
    }

    &--hide {
      display: none;
      transform: translateX(0%);
    }

    // slide change animations
    &--enter {
      animation: whizInLeft 1s ease-in-out;
    }

    &--exit {
      animation: whizOutLeft 1s ease-in-out;
      transform: translateX(100%);
    }
  }

  &__image-container {
    position: relative;
    width: 100%;
    height: 100%;

    @for $i from 1 through $grid-max-columns {
      &:nth-child(#{ $grid-max-columns }n + #{ $i }) {
        grid-column: $i;
      }
    }

    // image animations
    &--rotate {
      animation: rotateInSpace 10s linear infinite;
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .5));
    }
  }

  &__image {

    &--contain {
      object-fit: contain;
    }

    &--cover {
      object-fit: cover;
    }
  }
}