.hero {
  position: relative;
  height: $height-section;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid purple;

  &__header {
    font-variation-settings: $font-weight-header;
    font-size: $font-size-header;
  }
}