.hero {
  position: relative;
  aspect-ratio: 9 / 16;

  &__text {
    @include absolute-center;
    top: 60%;
    display: grid;
    gap: $padding-default;
    mix-blend-mode: difference;
    color: white;
  }

  @media (min-width: $breakpoint-md) {
    aspect-ratio: 16 / 9;
  }
}

.hover-overlay {
  display: grid;
  width: 100%;
  height: 100%;
}