.list {
  position: relative;
  display: grid;
  list-style: none;

  &--vertical {
    width: 100%;
    gap: 2rem;

    @media (min-width: $breakpoint-md) {
      max-width: 50%;
    }
  }

  &--horizontal {
    height: 100%;
    width: 100%;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 1rem;
  }

  &--nav {
    grid-auto-flow: column;
    grid-auto-columns: minmax(min-content, max-content);
    gap: 1rem;
  }
  
  &.intersected {
    > .list-item {
      @include transition-all;
    }
  }
}