.list {
  position: relative;
  display: grid;
  list-style: none;

  &--vertical {
    max-width: 50%;
    gap: 2rem;
  }

  &--horizontal {
    height: 100%;
    width: 100%;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 1rem;
  }

  &--nav {
    grid-auto-flow: column;
    grid-auto-columns: minmax(min-content, max-content);
    gap: 1rem;
  }

  &__item {
    &--vertical {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-rows: max-content 1fr;
      gap: 1rem 3rem;
      padding: $padding-default;
    }

    &--horizontal {
      position: relative;
      width: 100%;
    }
  }

  &__image-container {
    position: relative;
    grid-row: 1 / -1;
  }
}