.text-block {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;

  &__text {
    width: 75%;
    padding: $padding-default;
    animation: fadeInOut 1s linear;
    animation-timeline: view(0px);
  }
}