.button {
  cursor: pointer;
  padding: $padding-default;
  background: black;
  color: white;
  border: none;
  font-family: inherit;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
  border: 1px solid black;


  @media (min-width: $breakpoint-md) {
    &:hover {
      background: white;
      color: black;
    }
  }
}