@function randomNumber ($min, $max) {
  $randomNumber: random();
  $randomMinMax: $min + floor($randomNumber * ($max - $min) + 1);
  @return $randomMinMax;
}

@function randomHSL () {
  $randomNumber: randomNumber(0, 360);
  $randomHSL: hsl($randomNumber, 50%, 50%);
  @return $randomHSL;
}