@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// reset common transition properties to final positions
@mixin transition-all {
  transform: translate(0%);
  filter: blur(0px);
  opacity: 1;

  // reset even children when alternating translateX
  &:nth-child(even) {
    transform: translate(0%);
  }
}