.center-wrapper {
  display: flex;
  justify-content: center;
}

.email {
  text-transform: lowercase;
}

.hidden {
  display: none;
}

.intersected {
  @include transition-all;
}

.bg-space {
  z-index: -1;
  background-image: url('/sky/winter-5.jpg');
  background-size: cover;
}

.lowercase {
  text-transform: lowercase;
}