.center-wrapper {
  display: flex;
  justify-content: center;
}

.email {
  text-transform: lowercase;
}

.hidden {
  display: none;
}

.intersected {
  @include transition-all;
}

.bg-space {
  background-image: url('/sky/night-sky.jpg');
  background-size: contain;
}