// colors
$color-black: black;
$color-white: white;

// sizing
$height-card: 35rem;
$height-footer: 20rem;
$height-section: 50rem;

// spacing
$padding-default: 1rem;

// typography
$font-family-primary: "sarvatrik-latin-variable", sans-serif;
$font-weight-primary: "wght" 100;
$font-weight-header: "wght" 500;
$font-size-default: 1.3rem;
$font-size-header: 4rem;

// animations
$content-flow-seconds: 5s;
$logo-carousel-duration: 2s;