.card {
  position: relative;
  display: grid;
  gap: $padding-default;
  padding: $padding-default;
  border: 1px solid red;
  overflow: hidden;

  &--vertical {
    grid-template-rows: 50% repeat(2, max-content);
    height: $height-card;
  }

  &--horizontal {
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
  }

  &__media {
    position: relative;
    height: 100%;
  }

  &__text {
    display: grid;
    gap: $padding-default;
  }

  &__link {
    text-decoration: underline;
  }
}