.card {
  position: relative;
  display: grid;
  gap: $padding-default;
  padding: $padding-default;

  &--vertical {
    grid-template-rows: 50% repeat(2, max-content);
    height: $height-card;
  }

  &--horizontal {
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
  }

  &__image-container {
    position: relative;
  }

  &__link {
    text-decoration: underline;
  }
}