.content-flow { 
  display: flex;
  width: 100vw;
  overflow: hidden;

  &__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;

    &--left {
      transform: translateX(0);
      animation: flowRightToLeft $content-flow-seconds linear infinite;
    }
  
    &--right {
      animation: flowLeftToRight $content-flow-seconds linear infinite;
    }
  }
  
  &__item {

  }
}