.flip-carousel {
  position: relative;
  width: 100%;
  height: 100%;

  &__heading {
    position: absolute;
    background-color: black;
    color: white;
    bottom: $padding-default;
    padding: 0.5rem;
    animation: enterLeft 1s ease-in;
  }

  &__content-container {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;

    &--flipped {
      transform: rotateX(180deg);
    }
  }

  &__front-content,
  &__back-content {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &__back-content {
    // position: absolute;
    // width: 100%;
    // height: 100%;
    -webkit-transform: translate3d(0,0,0);
    transform: rotateX(180deg);
    // -webkit-backface-visibility: hidden;
    // backface-visibility: hidden;
  }

}