.link {
  text-decoration: underline;
  justify-self: center;

  &--cta {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: $padding-default;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  &--nav {
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.5s ease-in;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: white;
      transition: width 0.5s ease-in;
    }

    &:hover::after {
      width: 100%;
    } 
  }
}