// applies styles to next.js link component
.link {
  text-decoration: underline;

  &--cta {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: $padding-default;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}